{% extends "partials/base.html" %} 
{% block title %}Profile Page {% endblock %}

{% block content %}

    <div class="container">
        <div class="row mt-4">
  
      <!-- right side -->
            <div class="col-md-8 m-auto">
              <div class="card">
                <div class="card-header bg-body-primary text-bg-secondary text-center">
                  <h3>Customer Detail Page</h3>
                </div>
                  <div class="card-body ">
                    <div class="row">
                      <div class="col-md-8">
                        <div class="card bg-body-primary text-bg-secondary p-2 ">
                            <h5>Profile Information </h5>
                            
                        
                          </div>
                          <table class="table bg-info mt-2 table-borderless   ">
                          
                              <tbody>
                                  <tr>
                                  <th>Name</th>           
                                  <td>{{user.username}}</td>          
                                </tr>
                                <tr>
                                  <th>Email</th>           
                                  <td>{{user.email}}</td>          
                                </tr>
                                <tr>
                                  <th>Phone</th>           
                                  <td>{{user.profile.phone}}</td>          
                                </tr>
                                <tr>
                                  <th>Address</th>           
                                  <td>{{user.profile.address}}</td>          
                                </tr>
                  
                              </tbody>
                            </table>

                        <a href="{%url 'user-profile-update'%}"><button type="button" class="btn btn-primary m-2">Edit</button></a>
                        </div>
                        <div class="col-md-4">
                          <img src="{{user.profile.image.url}}" class="img-thumbnail"  alt="">
                
                        </div>
                    </div>
                  </div>
                  
              </div>
            </div>
      <!-- right side end -->
        </div>
      </div>
     <!-- Topside end -->
  

{% endblock content %}



